.tabla2{
    display: inline-flex;
    box-sizing: content-box;
    width: 500px;
    width: 500px;
    height: 300px;
    border: solid #5B6DCD 0px;
    padding: 5p;
    bottom: 300px;
    margin-left: 100px;

}